<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <File name="File" fileName="test.log">
      <PatternLayout>
        <pattern>%d %p %C{1.} [%t] %m%n</pattern>
      </PatternLayout>
    </File>
    <JDBC name="DB" tableName="Logs">
    	<DataSource jndiName="java:/comp/env/jdbc/reminder" />
    	<Column name="taskid" pattern="%X{taskid}" />
		<Column name="dated" isEventTimestamp="true" />
		<Column name="LEVEL" pattern="%level" />
		<Column name="LOGGER" pattern="%logger" />
		<Column name="MESSAGE" pattern="%message" />
		<Column name="THROWABLE" pattern="%ex{full}" />
    </JDBC>
  </Appenders>
  
  <Loggers>
    <Root level="ERROR">
      <AppenderRef ref="Console"/>
    </Root>
    
    <Logger name="org.cld" level="INFO" additivity="false">
      <AppenderRef ref="DB"/>
      <AppenderRef ref="Console"/>
    </Logger>
    
    <Logger name="cld.jsp" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    
    <Logger name="cy.common" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="cy.crbook" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    

    <Logger name="org.apache" level="WARN" additivity="false">
      <AppenderRef ref="File"/>
    </Logger>
    <Logger name="org.hibernate" level="WARN" additivity="false">
      <AppenderRef ref="File"/>
    </Logger>
    <Logger name="com.gargoylesoftware" level="WARN" additivity="false">
      <AppenderRef ref="File"/>
    </Logger>
    <Logger name="net.sourceforge.htmlunit" level="WARN" additivity="false">
      <AppenderRef ref="File"/>
    </Logger>
  </Loggers>
</Configuration>